# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

*~
*.o
*.pyc
*.os
*.so
*.a
*.dylib
*.dll
*.log
*.cache
config.status
config.h
libo5mreader.pc
Makefile
src/Makefile
test/Makefile

